.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
}

.home::before{
    z-index: 2;
    content: '';
    position: absolute;
    // background-color: rgba(86, 127, 252, 0.447);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .media__icons{
    z-index: 2;
    position: absolute;
    right: 2rem;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media__icons a{
    color: #fff;
    font-size: 1.8rem;
    transition: 0.3s ease;
}

.home .media__icons a:not(:last-child){
    margin-bottom: 0.5rem;
}

.home .media__icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Responsive Design */


@media screen and (max-width:768px) {
    .home {
        position: relative;
        width: 100%;
        min-height: 63vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fff;
    }
    

    .home video {
        height: 100%;
        object-fit: fill;
    }

}



@media screen and (max-width:1040px) {

    section{
        padding: 1.2rem 2rem;
    }

    .home .media__icons{
        right: 1.2rem;
    }
}


@media screen and (max-width: 536px) {
    .video__slide{
        display: none;
    }

    .home{
        background: url('../../src/assets/portada-mobile2.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
}