
.oferta__title {
    font-family: var(--font-secondary);
    font-size: 6rem;
    background-color: #fff;
    color: var(--orange-light);
    text-align: left;
    width: 54%;
    margin: 0 0 3rem 2rem;
    padding: 0 3rem 0rem 1rem;
    border-left: 7px solid var(--orange-lighter);
}

.ofertaEducativa__container{
    padding: 0 2rem;
}

.ofertaEducativa__intro {
    display: flex;
    align-items: center;
    margin: 9rem 0 3rem 0;
    border-top: 3px solid var(--orange-lighter);
    padding-top: 12rem;
}

.card__containerZoom {
    width: 350px;
    height: 400px;
}

.oferta__paragraph {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--blue-primary);
    width: 80%;
    margin: 0 0 0rem 0;
    padding: 0 4rem 0 0;
    line-height: 39px;
}

.cards__container{
    display: flex;
    width: 100%;
    margin: 5rem auto 7rem auto;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    justify-content: space-around;
}





@media screen and (max-width: 1100px) {

    .ofertaEducativa__intro {
        display: flex;
        align-items: center;
        margin: 3rem 0 3rem 0;
        border-top: 3px solid var(--orange-lighter);
        padding-top: 12rem;
    }

    .oferta__title {
        margin-top: 0rem;
        padding: 1rem 5rem 1rem 1rem;
        font-size: 4rem;
        text-align: left;
        color: #FF9800;
        width: 43%;
    }

    .oferta__paragraph {
        text-align: left;
        margin: 0 0 0rem 0;
        font-size: 1rem;
        width: 100%;
        padding: 1rem 2rem;
    }

    .cards__container {
        display: flex;
        width: 100%;
        margin: 3rem auto;
        margin-bottom: 7rem;
        flex-wrap: wrap;
        gap: 2rem 1rem;
        justify-content: space-around;
    }

    main {
        margin-bottom: 1rem;
    }

}



@media screen and (max-width:768px) {

    .ofertaEducativa__intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 7rem;
    }

    .oferta__title {
        margin-bottom: 5rem;
        padding: 1rem 5rem 1rem 1rem;
        font-size: 4rem;
        text-align: left;
        color: #FF9800;
        width: 43%;
    }

    .oferta__paragraph {
        padding: 0 3rem;
        margin-top: -3rem;
    }

    .card__Zoom {
        width: 100%;
        height: 32rem;
    }

    .cards__container {
        margin-bottom: 2rem;
        width: 100%;
    }
    
    .card__containerZoom {
        width: 300px;
        height: 350px;
        overflow: hidden;
    }
}


@media screen and (max-width:576px) {

    .ofertaEducativa__container{
        padding: 0;
    }

    .oferta__title{
        margin-top: 5rem;
        padding: 0 1rem;
        text-align: center;
        font-size: 2.5rem;
    }

    .oferta__paragraph{
        text-align: left;
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
        width: 100%;
        color: #9c9c9c;
    }

    p.oferta__paragraph {
        padding: 0;
        text-align: left;
        font-size: 1.3rem;
        color: var(--blue-light);
    }

    .ofertaEducativa__intro {
        padding-top: 2rem;
    }
}